body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 375px;
  width: 375px;
  max-height: 667px;
  height: 667px;
  background-color: #717c89;
}

h3 {
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 1px;
  margin-top: 5px;
}
