.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #36494e;
  color: #d0e7d2;
  position: relative;
  z-index: 1000;
}

.menu-icon {
  margin-right: auto;
  font-size: 24px;
  z-index: 200;
  user-select: none;
  outline: 0;
}

h2 {
  flex-grow: 1;
  text-align: center;
  margin-left: -36px;
}

.menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 667px;
  overflow: hidden;
  background-color: #d0e7d2;
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #36494e;
  z-index: 100;
  padding: 1rem;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.menu-list li {
  padding: 1rem 0;
  cursor: pointer;
}

.menu-list li:hover {
  background-color: rgba(89, 112, 129, 0.2);
  padding-left: 1rem;
  padding-right: 1rem;
  transition: padding 0.3s ease;
}
